.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background: #ffffff;
  }
  
  .navbar {
    width: 100%;
    position: fixed; /* Fix the navbar to the top of the screen */
    top: 0; /* Align it to the very top */
    left: 0; /* Align it to the very left */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the navbar is above other content */
    height: 60px; /* Set a fixed height for the navbar */
  }
  
  .navbar-logo {
    height: 40px; /* Adjust as needed */
    margin-left: 10px;
  }
  
  .contact-button {
    display: flex;
    align-items: center; /* Center content vertically */
    padding: 10px 20px;
    background-color: #fefefe;
    color: #333;
    border-radius: 5px;
    border: 1px solid #333;
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
  }
  
  .contact-button:hover {
    background-color: #ededed;
  }
  
  .contact-icon {
    height: 16px; /* Adjust size as needed */
    margin-right: 8px; /* Space between icon and text */
  }
  
  .login-logo img {
    width: 100px;
    margin-bottom: 10px;
  }
  
  .login-container h2 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
    text-align: left; /* Align text to the left */
  }
  
  .input-group label {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    text-align: left; /* Align text to the left */
  }
  
  .forgot-password {
    text-align: right;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  
  .forgot-password a {
    color: #555;
    text-decoration: none;
  }
  
  .login-button-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 20px; /* Space between the input fields and the button */
  }
  
  .login-button {
    width: 82px; /* Adjust as needed */
    padding: 10px;
    background-color: #4c51bf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .login-button:hover {
    background-color: #3b40a4;
  }
  
  .signup-link {
    margin-top: 20px;
    font-size: 12px;
  }
  
  .signup-link p {
    color: #555;
  }
  
  .signup-link a {
    color: #0066cc;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  