 .navbar {
    width: 100%;
    position: fixed; /* Fix the navbar to the top of the screen */
    top: 0; /* Align it to the very top */
    left: 0; /* Align it to the very left */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the navbar is above other content */
    height: 60px; /* Set a fixed height for the navbar */
  }
  
  .navbar-logo {
    height: 40px; /* Adjust as needed */
    margin-left: 10px;
  }
  
  .contact-button {
    display: flex;
    align-items: center; /* Center content vertically */
    padding: 10px 20px;
    background-color: #fefefe;
    color: #333;
    border-radius: 5px;
    border: 1px solid #333;
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
  }
  
  .contact-button:hover {
    background-color: #ededed;
  }
  
  .contact-icon {
    height: 16px; /* Adjust size as needed */
    margin-right: 8px; /* Space between icon and text */
  }
  